div,body,html,p,ul,li{margin:0;padding:0;}
*{box-sizing: border-box;}
ul,li{list-style: none;}

body {
  background: black;
}

button {
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 0.7em;
  color: #333;
  background-color: white;
  padding: 1px 10px;
}
input, button {
  box-shadow: 1px 1px 1px #ccc;
}

button:hover {
  background-color: #eee;
}

.finishing-buttons {
  display: flex;
  justify-content: flex-end;
}

.finishing-buttons button {
  margin-left: 1%;
  width: 100px;
}

#map-container {
  padding: 20px;
}

#map {
  position: relative;
  width: 480px;
  height: 336px;
  margin: 0 auto;
}

.map-event {
  position: absolute;
  width: 40px;
  height: 40px;
}

.map-event:hover {
  cursor: pointer;
  background: rgba(255,255,255,0.5);
}
