.commands-container {
	font-size: 0.8em;
}

.commands-container .command-name {
  color: #22c;
}

.commands-container .text-constant:before,
.commands-container .text-constant:after {
	content: '"';
}

.commands-container .command-arguments {
	font-size: 0.95em;
  color: #77e;
  margin-right: 0.3em;
}

.commands-container .command-arguments:before {
  content: ":";
}

.commands-container .branch-title .command-arguments:before {
  content: "";
}

.commands-container .constant {
  color: #e44;
}

.commands-container .var-id,
.commands-container .switch-id,
.commands-container .self-switch-name,
.commands-container .common-event-id,
.commands-container .label-name {
  color: #5c5;
}

.commands-container .var-id:before {
	content: "variable ";
}

.commands-container .switch-id:before {
	content: "switch ";
}

.commands-container .common-event-id:before {
	content: "common event ";
}

.commands-container .label-name:before {
	content: "label ";
}
